/* CSS Document */
*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {

    font-family: Futura, sans-serif;

}

.iconen {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
}

img:nth-child(1n+1) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1em;
    width: 1.3em;
    height: 100%;
}

img:nth-of-type(2) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1em;
    margin-left: 4em;
    width: 5em;
    height: 100%;
}

div p:nth-of-type(2) {
    color: white;
    text-decoration: underline;
}

p:nth-child(1) {
    color: white;
    background-color: rgb(33, 33, 33);
    padding: 0.5em;
    font-size: 0.7em;
    font-weight: 90;
}

header {
    color: white;
    background: url(images/headerfoto.jpg);
    background-position: center;
    align-items: center;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 85vh;
}

.introductie {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 0.9em;
    height: 80vh;
    line-height: 3em;
}

nav ul {
    display: none;
}

section ul:nth-of-type(1) {
    display: grid;
    grid-template-columns: repeat(10, 60%);
    overflow: scroll;
    list-style-type: none;
    padding-left: 1.5em;
}

section ul li img:nth-of-type(1) {
    width: 100%;
    height: auto;
    padding-right: 0.5em;
    list-style-type: none;
}

section li p:nth-of-type(1) {
    font-weight: lighter;
}

section ul h2:nth-of-type(1) {
    padding-top: 2em;
    font-size: 0.7rem;
    font-weight: lighter;
}

section ul:nth-child(odd) {
    display: flex;
    flex-wrap: wrap;
    object-fit: cover;
}



#detailpage nav ul {
    display: none;
}

#detailpage header {
    background-image: none;
    height: 25vh;
}

.slider {
    width: 320px;
    text-align: center;
    overflow: hidden;
}

#detailpage .slider>a {
    display: inline-flex;
    width: 0.7rem;
    height: 0.7rem;
    background: whitesmoke;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0.4rem 0.5rem 0.5rem 0.5rem;
    position: relative;
}

#detailpage .slides>a:active {
    color: black;
}

.slider>a:focus {
    background-color: #000;
}


#detailpage .slides {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

#detailpage .slides>div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 300px;
    height: 300px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#detailpage .slides img {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#detailpage a:nth-child(1n+1) {
    border-color: yellow;
}

#detailpage span:nth-of-type(1) {
    font-size: 0.7em;
    color: gray;
    font-weight: lighter;
    padding-left: 1em;
}

#detailpage span:nth-of-type(2) {
    font-size: 0.7em;
    font-weight: lighter;

}

#detailpage h2,
p {
    font-size: 0.7em;
    padding-top: 1em;

}

#detailpage div button:nth-of-type(1) {
    background: black;
    color: white;
    padding: 1.3em 7em;
    margin: 1em;
}


#detailpage div button:nth-of-type(2) {
    margin: 1em;
    display: flex;
    object-fit: cover;
    text-align: center;
    background: white;
    padding: 1.3em 7em;
}

#detailpage ul:nth-of-type(3) {
    display: flex;
    flex-grow: initial;
    overflow: scroll;
    list-style-type: none;
    padding-left: 1.5em;
}

#detailpage div ul form:nth-of-type(1) {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(3, 25%);
    list-style: none;
    padding-top: 1em;
}

#detailpage div ul form input:nth-child(1n+1) {
    background-color: white;
    padding: 1em 3em;
    margin: 0em 0em 1em;
}


footer {
    background-color: black;
}

footer h3 {
    text-align: left;
}

footer button {
    display: block;
    text-align: center;
    justify-content: center;
    padding: 1em 7em;
    margin: 1em 2em;
    color: white;
    background-color: black;
    border-color: white;
}

footer a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-weight: lighter;
}

.svg {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2em;
}
