/* CSS Document */
*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* lettertype voor de hele website*/
body {
    font-family: Futura, sans-serif;
}

a {
    text-decoration: none;
}

/*bovenste gedeelte van de site met de link naar de aw collection*/
header p:nth-child(1) {
    color: white;
    background-color: rgb(7, 7, 7);
    font-size: 0.9em;
    font-weight: 100;
    text-align: center;
    padding: 0.4em;
}

/*navigatie sectie met iconen*/
nav:nth-of-type(1) div:nth-of-type(1) {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

/*Styling van de iconen in de navbar*/
nav:nth-of-type(1) div:nth-of-type(1) img {
    align-items: center;
    width: 1.3rem;
}

/*Balr logo styling*/
.iconen:nth-of-type(1) :nth-child(2) {
    width: 4em;
    height: 100%;
    margin-left: 4rem;
}

/*de nieuwe collectie tekst in de header*/
div:nth-of-type(1) h1 {
    color: white;
    line-height: 1.6rem;
    font-weight: 900;
}

/*de nieuwe collectie tekst inde header*/
div:nth-of-type(1) p:nth-of-type(1) {
    color: white;
    line-height: 1rem;
    font-weight: 900;
    font-size: 1em;
}

/*de shopnow tekst*/
div:nth-of-type(1) p:nth-of-type(2) {
    color: white;
    text-decoration: underline;
    font-weight: 900;
    margin-top: 0.5em;
    font-size: 1em;
}

/*dit is de styling voor de header en background foto*/
header {
    color: white;
    background: url(../images/headerfoto.jpg);
    background-position: center;
    align-items: center;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 85vh;
}

/*Styling voor de tekst op de foto in de header*/
header div:last-child {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    font-size: 0.9em;
    height: 80vh;
    line-height: 1.5em;
}

/* dit is code om de un-orderd list te stylen*/
nav ul {
    text-align: left;
    margin-top: 3.5rem;
    margin-left: 1rem;
    list-style-type: none;
    font-weight: 100;
    font-size: 2em;
    line-height: 2.6rem;
    ;
}


/*Titel van section met items*/
section:nth-of-type(1) h3 {
    padding-top: 1rem;
    padding-left: 1.3rem;
    padding-bottom: 1rem;
    font-weight: 100;
}

/* Carousel gedeelte met kledingitems*/
section:nth-of-type(1) ul:nth-of-type(1) {
    display: grid;
    grid-template-columns: repeat(10, 80%);
    overflow: scroll;
    list-style-type: none;
    padding-left: 1.5em;
}

/*styling voor de foto grootte en de ruimte er tussen*/
section:nth-of-type(1) ul:nth-of-type(1) li img {
    width: 100%;
    height: auto;
    padding-right: 0.5em;
    list-style-type: none;
}

/*styling van de bedragen onder de titels van de jassen*/
section:nth-of-type(1) li p:nth-of-type(1) {
    font-weight: 100;
}

/*styling van de titels van de kleding items*/
section:nth-of-type(1) ul h2:nth-of-type(1) {
    padding-top: 2em;
    font-size: 0.7rem;
    font-weight: lighter;
}

/*section 2 styling van de foto*/
section:nth-of-type(2) img {
    padding-top: 2rem;
    object-position: -10.5em;
    width: 275%;
}

/*section 2 div relative maken om de tekst absolute er boven op te zetten*/
section:nth-of-type(2) div:nth-of-type(1) {
    position: relative;
    width: 100%;
    overflow: hidden;
}

/* de h2 styling in de div van de 2e sectie */
section:nth-of-type(2) div:nth-of-type(1) h2 {
    position: absolute;
    width: 100%;
    top: 13rem;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 1.7em;
}

/* de p styling in de div van de 2e sectie */
section:nth-of-type(2) div:nth-of-type(1) p {
    position: absolute;
    width: 100%;
    top: 15rem;
    text-align: center;
    width: 100%;
    color: white;
    text-decoration: underline;
    font-size: 0.9em;
}

/* sectie 3 styling de sectie een beetje naar beneden gehaald, omdat de scaling het omhoog ging plaatsen*/

section:nth-of-type(3) {
    margin-top: 1.2em;
}

/* sectie 3 styling van de foto dat het de hele breedte dekt en een inzoom om overeen te komen met de echte site*/

section:nth-of-type(3) ul img {
    width: 100%;
    object-fit: cover;
    transform: scale(1.2);
}

/* sectie 3 styling die ervoor zorgt dat ik tekst boven op de foto kan plaatsen*/

section:nth-of-type(3) ul div {
    position: relative;
}

/* sectie 3 styling van de kop van elke categorie */
section:nth-of-type(3) ul div h2 {
    position: absolute;
    text-align: center;
    top: -6em;
    width: 100%;
    color: #ffffff;
    font-size: 2.5em;
}

/* sectie 3 styling van de kop van elke categorie */
section:nth-of-type(3) ul div p:nth-of-type(1) {
    position: absolute;
    width: 100%;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    top: -12em;
    text-decoration: underline;
}

/* sectie 4 styling van de video en foto die te zien is voordat de video afspeelt */

section:nth-of-type(4) video {
    width: 100%;
    background-image: url(../images/headerfoto.jpg);
    object-fit: cover;
    height: 80vh;
}

/* sectie 5 styling van de hoogte en kleur */

section:nth-of-type(5) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 40vh;
    background: rgb(230, 230, 230);
    padding-top: 2em;

}

/* styling van de kop van sectie 5 */

section:nth-of-type(5) h3 {
    font-weight: 100;
    font-size: 1.6em;
}

/* sectie 5 styling van de tekst in de tekstvak */

section:nth-of-type(5) p {
    line-height: 4em;
    font-weight: 100;
    font-size: 0.8em;
    color: rgb(152, 152, 152);
}

/* sectie 5 styling van de grootte van de tekstvak*/

section:nth-of-type(5) input:nth-of-type(1) {
    height: 4.5em;
    width: 16em;
    text-align: left;
    padding-left: 1em;
    margin-right: -1em;
}

/* sectie 5 styling van de grootte en kleur van de sumbit knop */

section:nth-of-type(5) input:nth-of-type(2) {
    background: black;
    color: white;
    height: 4.5em;
    width: 4.5em;
}

/* sectie 5 styling van de kleur en layout van de footer */

footer {
    display: flex;
    flex-direction: column;
    background-color: rgb(7, 7, 7);
    line-height: 2em;
    font-weight: 100;
}

/* sectie 5 styling van de eerste groep links naar 2 kolommen */

footer div:nth-of-type(1) {
    margin-left: 1em;
    display: block;
    column-count: 2;
    margin-top: 1em;
}

/* sectie 5 styling van de tweede groep links naar 2 kolommen */
footer div:nth-of-type(2) {
    margin-left: 1em;
    display: block;
    column-count: 2;
}

/* sectie 5 styling van de eerste groep iconen onderaan de site */
footer div:nth-of-type(3) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

/* sectie 5 styling van de 2 knoppen in de footer*/
footer button {
    text-align: center;
    padding: 1em 2em 1em 2em;
    margin: 1em;
    color: white;
    background-color: black;
    border-color: white;
}

/* sectie 5 styling van de koppen in de footer */
footer h3 {
    margin-top: 1em;
    margin-left: 1em;
    color: white;
}

/* sectie 5 styling van de hyperlinks in de kolommen */
footer a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-weight: lighter;
}

/* sectie 5 styling van de grootte van de iconen en afstand tussen de vorige element*/
footer div img {
    margin-top: 2em;
    width: 10%;
}

/* sectie 5 styling van de laatste regel onderaan de website */
footer p:nth-of-type(1) {
    height: 10vh;
    color: white;
    margin-top: 10em;
    text-align: center;
}



/* Styling voor de detailpagina*/

/* styling voor de navigatie om de ul niet te laten zien en alleen de nav logo*/

#detailpage nav ul {
    display: none;
}

/* Styling voor de hoogte van de header */
#detailpage header {
    background-image: none;
    height: 15vh;
}

/* styling van de slider */
.slider {
    width: 320px;
    text-align: center;
    overflow: hidden;

}

/* sectie 5 styling van de navigatie bolletjes voor de caroussel */
#detailpage .slider>a {
    display: inline-flex;
    width: 0.7rem;
    height: 0.7rem;
    background: whitesmoke;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0.4rem 0.5rem 0.5rem 0.5rem;
    position: relative;
}

/* styling van de navigatie bol als het geactiveerd word*/
#detailpage .slides>a:active {
    color: black;
}

/* styling van de scroll van de carousel*/
#detailpage .slides {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

#detailpage .slides>div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 320px;
    height: 568px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* styling van de foto in de carousel*/
#detailpage .slides img {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* styling van de eerste woord Jackets*/

#detailpage span:nth-of-type(1) {
    font-size: 0.7em;
    color: gray;
    font-weight: lighter;
    margin-left: 1em;
}

/* styling van de tweede woord Men*/

#detailpage span:nth-of-type(2) {
    font-size: 0.7em;
    font-weight: 100;
}

/* styling van de positie van de eerste section en de h2 qua grootte*/

#detailpage section:nth-of-type(1) {
    font-size: 0.7em;
    margin-top: 1.5em;
    text-align: left;
    margin-left: 1em;
    font-size: 0.6em;
}

/* styling van de prijs in de eerste section */

#detailpage section:nth-of-type(1) p {
    font-size: 1.5em;
    font-weight: 100;
    margin-top: 0.8em;
}

/* styling van bovenkant hoogte van de 2e sectie */
#detailpage section:nth-of-type(2) {
    margin-top: 1.5em;
}

/* styling van de 2e sectie p */
#detailpage section:nth-of-type(2) p {
    margin-left: 1em;
    margin-bottom: 0.6em;
    font-size: 0.8em;
    font-weight: 100;
    margin-top: 0.3em;
}

/* styling van de size labels kolommen */
#detailpage section:nth-of-type(2) form {
    display: grid;
    grid-template-columns: 6.25em 6.25em 6.25em;
    column-gap: 0.625em;
}

/* styling van de uiterlijk van de size knoppen*/
#detailpage section:nth-of-type(2) form input {
    background: white;
    color: black;
    padding: 1.3em;
    margin: 1em;
}

/* styling van de sectie in display flex zodat de knoppen onder elkaar komen*/

#detailpage section:nth-of-type(3){
   display: flex;
   flex-direction: column;
}
/* styling van de uiterlijk van de add to cart knop*/

#detailpage section:nth-of-type(3) button:nth-of-type(1){
    background: black;
    color:white;
    padding: 1em 4em;
    margin: 1em;
}
/* styling van de uiterlijk van add to wishlist knop*/

#detailpage section:nth-of-type(3) button:nth-of-type(2){
    background: white;
    color: black;
    padding: 1em 4em;
    margin: 1em;
}

/* styling van de uiterlijk van de hart img*/

#detailpage section:nth-of-type(3) button:nth-of-type(2) img {
margin-left: 1em;
    width: 8%;
}

nav#menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    transform: translateY(-100%);
    transition: 500ms ease;
}

nav#menu.show {
    transform: translateY(0);
}

nav#menu ul li {
    Color: white;
}

#detailpage nav#menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    transform: translateY(-100%);
    transition: 500ms ease;
}

#detailpage nav#menu.show {
    transform: translateY(0);
}

#detailpage div:nth-of-type(1) {
    margin-top: 1em;
}


#detailpage img#hart.vullen {
    transform: translate(0)
}
